<!-- welcome_email.html.erb -->

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/css; charset=UTF-8' http-equiv='Content-Type' />
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  </head>
  <body>
    <div class="headline">
    <h1>Welcome to Old News, <%= @user.first_name %></h1></div>
  <div class="lead_paragraph">
    <p>
      You have successfully signed up to Old News App,
      your username is: <%= @user.email %>.You will receive a daily email with a list of NY Times headlines from today's date in a random year.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p></div>
  </body>

  <div class="on_this_day">

  <h2>On this day in <%= @articles[0]["pub_date"][0..3] %>...</h2>

</div>


<% @articles.each do |article| %>

<div class="article">

  <%  if article["lead_paragraph"].nil?  %>
    <%  next %>
  <%  else %>
    <div class="article_space">
      <div class="headline">
        <h3><%= article["headline"]["main"] %><br /></h3></div>

      <div class="lead_paragraph">
        <p><%= article["lead_paragraph"] %></p>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>
</html>