<!-- index.html.erb -->

<div class="favorite">
  <div class="headline"><h2><%= current_user.first_name %>'s Favorites</h2></div>
  <% if @favorites.empty?%>
    <div class="lead_paragraph"><p><%= link_to "You do not have any favorites. Return Home to add some.", root_path %> </p></div>
  <% else %>
    <% @favorites.each do |favorite| %>
        <div class="headline">
          <h2><strong>On <%= favorite.pub_date.month %>/<%= favorite.pub_date.day%>/<%= favorite.pub_date.year %></strong><br /></h3>
          <h3><%=link_to "#{favorite.headline}", user_favorite_path(current_user, {id: favorite.id, headline: favorite.headline, lead_paragraph: favorite.lead_paragraph, pub_date: favorite.pub_date})%></h3></div>
        <div class="lead_paragraph"><p><%=favorite.lead_paragraph%></p>

        <div class="share_buttons"><ul>
          <li>
            <a class="twitter_popup" href="https://twitter.com/share?text=On this day in <%= favorite.pub_date.year %>:<%=favorite.headline%>&url=http://oldnewsapp.herokuapp.com">tweet • </a>
          </li>
          <li>
            <a href="http://www.tumblr.com/share/quote?quote=On this day in <%= favorite.pub_date %>:<%=favorite.headline%> <%= favorite.lead_paragraph %>" title="Share on Tumblr" >tumblr • </a>
          </li>
          <li>
            <% if current_user.contacts.empty? %>
              <%= link_to "email •", new_user_contact_path(current_user) %>
            <% else %>
              <%= link_to "email •", coming_soon_path %><!-- user_favorite_send_favorite_path(current_user, favorite.id)  -->
            <% end %>
          </li>
          <li>
            <%= link_to "delete", user_favorite_path(current_user, {id: favorite.id}), method: "delete" %></li>
          </ul>
        </div>
      </div>

    <% end %>      
  <% end %>
</div>


  