<!-- new.html.erb -->
<% unless @message.nil? %>
  <div id="errors">
    <h3>Errors!</h3>
    <ul>
      <li><em><%= @message %></em></li>
    </ul>
  </div>
<% end %>

<div class="form"><ul>
  <%= form_tag "/session" do %>
    <li><%= label_tag :email %>:</li>
    <li><%= email_field_tag :email %></li>
    <li><%= label_tag :password %>:</li>
    <li><%= password_field_tag :password %></li>
    
    <%= submit_tag "Log in!" %></ul>
  <% end %>
</div>