<!-- index.html.erb -->
<div class="on_this_day">

  <h2>On this day in <%= @articles[0]["pub_date"][0..3] %>...</h2>

</div>


<% @articles.each do |article| %>

<div class="article">
  <%  if article["lead_paragraph"].nil?  %>
    <%  next %>
  <%  else %>
    <div class="article_space">
      <div class="headline">
        <h3><%= article["headline"]["main"] %><br /></h3></div>
    <div class="lead_paragraph">
    <% if logged_in? %>  
     <%=  link_to "#{article["lead_paragraph"]}", new_user_favorite_path(current_user, {headline: article["headline"]["main"], lead_paragraph: article["lead_paragraph"], pub_date: article["pub_date"]}) %>
    <% else %>
      <%= link_to "#{article["lead_paragraph"]}", new_user_path %>
    <% end %>
    </div>

    <div class="share_buttons"><ul>
    <li>
      <a class="twitter_popup" href="https://twitter.com/share?text=On this day in <%= article["pub_date"][0..3] %>:<%=article["headline"]["main"]%>"> Tweet</a>
    </li>
  </ul>
  </div>
  </div>
  <% end %>

<% end %>

