<!-- _form.html.erb -->

<div class="form">
  <ul>
    <%= form_for [@user, @contact] do |f| %>
      <li><%= f.label :email %></li>
      <li><%= f.email_field :email %></li>
      <br/>

      <li><%= f.label :first_name %></li>
      <li><%= f.text_field :first_name %></li>
      <br/>

      <li><%= f.label :last_name %></li>
      <li><%= f.text_field :last_name %></li>
      <br/>

      <%= f.submit @contact.id.nil? ? "Join!" : "Save Changes" %>
    <% end %>
  </ul>
</div>