<!DOCTYPE html>
<html>
<head>
  <title>OldNews</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
  <script src="http://platform.tumblr.com/v1/share.js"></script>
</head>

<body>
  <header>
  <div class="main_nav">
    <ul class="nav_bar">
        <li class><%= link_to("Log In","/login") %></li>
        <li>or</li>
        <li><%= link_to "Sign up", new_user_path %></li>
        <li><%= link_to("About Old News", about_path) %></li>
    </ul>
  </div>
</header>
  <article>
  <div id="old_news"><h1>OLD NEWS</h1><h4><em>NY Times Headlines • Today's Date • Random Year</em></h4></div>
  <div class="eclesiastes"><h5><em>What has been will be again,<br />
    what has been done will be done again;<br />
    there is nothing new under the sun.<br />
    <div class="eclesiastes_name">-Ecclesiastes 1:9-</div></em></h5>
  </div>
</article>
<%= yield %>
<footer>
  <ul class="footer_list">
    <li>Created by <a href="https://twitter.com/s_d_br0_o">s_d_br0_o</a></li>
    <li><%= link_to "About Old News", about_path %></li>
    <li><%= link_to "Home", root_path %>
</footer>


<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
