<!DOCTYPE html>
<html>
<head>
  <title>OldNews</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="animate.min.css">
<link href='http://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="main_nav"
  <ul class="nav_bar">

    <li class="nav_bar_li"><%= link_to "Home", root_path %></li>

    <% if logged_in? %>
      <li class="nav_bar_li"><%=link_to("My Favorites", user_favorites_path(current_user))%></li>
      <li class="nav_bar_li"><%= link_to("Log Out #{current_user.first_name}!", "/session", method: "delete") %></li>  
    <% else %>
      <li class="nav_bar_li"><%= link_to("Log In","/login") %></li>
      <li class="nav_bar_li">or</li>
      <li class="nav_bar_li"><%= link_to "Sign up", new_user_path %></li>
    <% end %>
  </ul>
</div>

<div class="header">
  <div id="old_news"><h1>OLD NEWS</h1></div>
  <div class="eclesiastes"><h5><em>What has been will be again,<br />
    what has been done will be done again;<br />
    there is nothing new under the sun.<br />
    <div class="eclesiastes_name">-Ecclesiastes 1:9-</div></em></h5></div>
  <div class="more_headlines"><%= link_to "More Headlines", root_path %></div>
</div>


<%= yield %>

</body>
</html>
